.guest_content {
	width: 610px
}

.guest_img {
	max-width: 555px;
	border-radius: 12px;
	overflow: hidden;
}

.guest .sec_tit {
	margin-bottom: 20px;

}

.guest_txt {

	margin-bottom: 60px;
}

.guest_card {
	width: calc(50% - 12px);
	border-radius: 8px;
	border: 1px solid #dbdfd0;
	background: #fff;
	margin-bottom: 24px;
	padding: 30px 0 40px;
	text-align: center;
}

.guest_card span {
	display: block;
	font-family: "Playfair Display";
	font-size: 18px;
	font-weight: 500;
	line-height: 60.5px;
	letter-spacing: 0px;
	text-align: center;
	margin-bottom: 15px;

}

.guest_card p {
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
}